node_modules/
npm-debug.log
.env
.DS_Store
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/terraform.tfvars
*.en
node_modules
dist
.git
.env

terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/terraform.tfvars
